<footer class="footer">
    <p>
        The {{ page.attributes.project-title }} documentation site is generated using
        <a href="https://antora.org" target="_blank">Antora</a> and
        <a href="https://github.com/vert-x3/vertx-docgen" target="_blank">Vert.x docgen</a>.
    </p>
</footer>
