<footer class="footer">
    <p>
        The {{ page.attributes.project-title }} documentation site is generated using
        <a href="https://plugins.gradle.org/plugin/cloud.playio.gradle.antora">Antora Gradle plugin</a>.
    </p>
</footer>
