<title>
    {{{detag (or page.title defaultPageTitle)}}} | {{ page.attributes.component-title }}{{#if
    (eq page.attributes.component-version "main")}}{{else}}@{{page.attributes.component-version}}{{/if}}
</title>
